*{
background-color: rgb(17, 105, 17);
}


.flex-container { /* Cria uma caixa na qual vai armazenar os quadradinhos*/
    width: 850px;
    height: 462px;
    background-color: #b1a6a6; /* Cinza claro */
    margin: 0 auto ;
    margin-top: 200px;
    display: flex;
    justify-content: center;
}

.flex-item { /* Cria uma caixa na qual vai armazenar os quadradinhos*/
    width: 600px;
    height: 102px;
    background-color: #ffffff; /* Cinza claro */
    display: flex;
    justify-content: center;    
    align-items: center;
    position:absolute;
    margin-left: 300px;
    margin-top: 10px;
}
