body {
    overflow: hidden; /* Sem rolamento */
    background-color: rgb(63, 98, 74);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem1 {
  position: absolute;
  top: 0;   /* Posiciona no topo */
  left: 0;  /* Posiciona na esquerda */
  width: 250px; /* Tamanho da imagem */
  height: auto; /* Mantém a proporção */
}


.imagem2 {
  position: absolute;
  right: 450px;
  width: 250px; /* Tamanho da imagem */
  height: auto; /* Mantém a proporção */
  top: 0;
  
}

.imagem3 {
  position: absolute;
  left: 0;   /* Posiciona na direita */
  width: 400px; /* Tamanho da imagem */
  height: 1000; /* Mantém a proporção */
}

.imagem4 {
  right: 590px;
  position: absolute;
  width: 200px; /* Tamanho da imagem */
  height: auto; /* Mantém a proporção */
  bottom: -5%;
}

.logo {
    text-align: center;

}

.link {
    display: block; 
    margin: 15px auto 0 auto; /* 15px em cima, auto nas laterais (centraliza), 0 embaixo */
    /* 3. Estilos de aparência (mantidos ou ajustados) */
    width: 80%; 
    padding: 12px;
    background-color: transparent; /* Geralmente links não têm cor de fundo de botão */
    color: #9B7059; /* Use a cor marrom para o texto do link */
    /* Remove estilos de botão que não queremos para um link simples */
    border: none;
    border-radius: 0; /* Remove o arredondamento */
    font-size: 1rem; /* Traz o tamanho de volta para um link */
    font-weight: 500;
    text-decoration: none; /* Remove o sublinhado padrão */
    text-align: center; /* Centraliza o texto dentro do bloco do link */
}


.box-register {
  position: relative;  
  text-align: center;
  padding: 50px 30px;
  max-width: 400px;
  width: 90%;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

}



.subtitulo {
    font-size: 0.9rem;
    color: #ffffff;
    margin-bottom: 40px;
    font-weight: 25;
    font-size: 150%;
}


.grupo {
    margin-bottom: 20px;
}


.grupo input {
    width: 100%;
    padding: 12px 20px;
    font-size: 1rem;
    border: 1px solid rgb(109, 205, 139 );
    border-radius: 25px;
    background-color: #FAFAF3;
    color: #333333;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
    font-family: Montesarat;
  
}


.botao {
    width: 80%;
    padding: 12px;
    background-color: #9B7059;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 1.1rem;
    font-weight: 700;
    margin-top: 15px;
}


.botao:hover {
    background-color: #8B644E;
}


.link {
    display: block;
    margin-top: 15px;
    font-size: 0.9rem;
    color: #000000;
    text-decoration: none;
    font-weight: 400;
}


.link:hover {
    text-decoration: underline;
}