body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Sem rolamento */
}

.imagem1 {
  position: absolute;
  top: 0;   /* Posiciona no topo */
  left: 0;  /* Posiciona na esquerda */
  width: 250px; /* Tamanho da imagem */
  height: auto; /* Mantém a proporção */
}


.imagem2 {
  position: absolute;
  right: 450px;
  width: 250px; /* Tamanho da imagem */
  height: auto; /* Mantém a proporção */
  top: 0;
}

.imagem3 {
  position: absolute;
  left: 0;   /* Posiciona na direita */
  width: 400px; /* Tamanho da imagem */
  height: 1000px; /* Mantém a proporção */
}

.imagem4 {
  right: 590px;
  position: absolute;
  width: 200px; /* Tamanho da imagem */
  height: auto; /* Mantém a proporção */
  bottom: -3%;
}



.box-login {
  position: relative;  
  text-align: center;
  padding: 50px 30px;
  max-width: 400px;
  width: 90%;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

}


.titulo {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    color: #333333;
    margin-bottom: 5px;
}


.subtitulo {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 40px;
    font-weight: 300;
}


.grupo {
    margin-bottom: 20px;

}


.grupo input {
    width: 100%;
    padding: 12px 20px;
    font-size: 1rem;
    border: 1px solid rgb(109, 205, 139 );
    border-radius: 25px;
    background-color: #FAFAF3;
    color: #333333;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  
}


.botao {
    border-radius: 25px;
    margin: 15px auto 0 auto; 
    width: 70%; 
    padding: 11px;
    background-color:#8B644E;
    color: #ffffff; 
    border: none;
    text-decoration: none; /* Remove o sublinhado */
    text-align: center; 
    display: inline-block; 
    font-size: 1.3rem;

}



.link {
    display: block;
    margin-top: 15px;
    font-size: 20px;
    color: #9B7059;
    text-decoration: none;
    font-weight: 500;
}